.dark {
  background-color: #010101;
  color: white !important;
}

.dark-icon-font {
  transition: all 0.5s ease;
  color: white !important;
}

.dark-button {
  color: white;
  border: 2px solid white;
  outline: none;
  &:hover {
    background: white;
    color: rgb(65, 65, 65);
  }
}

.light-button {
  color: black;
  border: 2px solid black;
  outline: none;
  &:hover {
    background: rgb(65, 65, 65);
    color: white;
  }
}

.nav-icon-dark {
  background: #ffffff9c !important;
}

.invert {
  filter: invert(1);
}

.icon-dark {
  color: #010101 !important;
}

.grayscale-off {
  filter: grayscale(0);
}
