.song-container {
  min-height: 60vh;
  // background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;

  img {
    width: 30%;
    border-radius: 50%;
  }

  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }

  h3 {
    font-size: 1rem;
  }
}

// Responsive

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}

// Animation

.rotate {
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
