* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: rgb(54, 54, 54);
}

h2,
h3 {
  color: #010101;
}

.App {
  transition: all 0.5s ease;
  height: 100vh;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
  transition: all 1s ease;
}

.library-active {
  padding-left: 20%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./darkMode";
